<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#ee3c42"
  type="line-scale">
</ngx-spinner>
<!-- Navigation -->
<app-header></app-header>

<header class="text-center d-flex">
<app-banner style="width: 100%;"></app-banner>
</header>
<section id="form">
  <div class="container">
    <ctpl-option (ctplOptionOutput)="onGetCtplOption($event)" [checker] = "ctplOption" ></ctpl-option>
    <personal-information id="personalInfo"[ctplOption] = "this.vehicle.tipCocafRegistration" [client]="client" (clientInformation)="onGetClientInformation($event)"></personal-information>
    <contact-information id="contactInfo" [client]="client" (clientContactInfo)="onGetClientContactInfo($event)" *ngIf="showContactInfo"></contact-information>
    <vehicle-information id="vehicleInfo" [vehicle]="vehicle" (vehicleInfo)="onGetVehicleInfo($event)" *ngIf="showVehicleInfo"></vehicle-information>
    <inception-date id="inceptionDate" [inceptionDate]="inceptionDate" [plateNumber]="vehicle.plateNumber" (inceptionDateOutput)="onGetInceptionDate($event)" *ngIf="showInceptionDate"></inception-date>
    <summary-details *ngIf="false" [client]="client" [vehicle]="vehicle" [issuanceDto] ="issuanceDto" ></summary-details>
    <pricing id="pricing" *ngIf="showPricing" [pDTO]="pDTO"></pricing>
  </div>
</section>
<app-validation-page id="vcomp" *ngIf="showValidationPage"  (showPaymentPage)="onShowPaymentPage($event)"></app-validation-page>
<app-payment-page id="pcomp" *ngIf="showPaymentPage"></app-payment-page>
<app-print-page id="print-comp" *ngIf="showPrintPage"></app-print-page>
<app-footer></app-footer>
  <!-- Bootstrap core JavaScript -->
  <!--     <script src="vendor/jquery/jquery.min.js"></script> -->
  <!--     <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <!-- Plugin JavaScript -->
  <!--     <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->
  <!--     <script src="vendor/scrollreveal/scrollreveal.min.js"></script> -->
  <!--     <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script> -->
  <!-- Custom scripts for this template -->
  <!--     <script src="js/creative.min.js"></script> -->
  <!--     <script src="js/main.js"></script> -->
