#header_sec {
  background-color: #ed1c24;
}

#header_sec .logo img {
  margin-top: 12px;
}

#header_sec .hr-links ul {
  list-style: none;
  padding: 0px;
  text-align: right;
  margin-top: 15px;
  font-family: 'Arial';
}

#header_sec .hr-links ul li {
  display: inline;
  margin: 0 10px;
}

#header_sec .hr-links ul li a{
  color: #fff;
}

#header_sec .hr-second-layer {
  background-color: #2e2e2e;
  width: 100%;
}

#header_sec .hr-second-layer .phone {
  color: #fff;
  line-height: 35px;
}

#header_sec .hr-second-layer a{
  color: #fff;
}

#header_sec .hr-socialmedia ul {
  margin: 5px 0;
  text-align: right;
}

#header_sec .hr-socialmedia ul li {
  display: inline;
  margin: 0 10px;
}

/* menu for mobile */
#header_sec .menu-toggle {
  width: 65px;
  top: 0px;
  right: 0px;
  position: absolute;
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 600px) {
  #header_sec .logo img {
    margin: 16px 0;
  }
  
  #header_sec .hr-links ul {
    padding: 0px;
    text-align: center;
    margin-top: 15px;
  }
  #header_sec .hr-links ul li {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #bb3339;
  }
}
