<!-- <div class="header-bg-color d-none d-md-block col-md-12">
	<div class="mapfre-logo">
		<img src="assets/images/mapfre_logo.png">
	</div>
	<div  class="mapfre-website">
		<img src="assets/images/mapfre_website.png">
	</div>
</div>
<div class="d-block d-md-none header-bg-color col-md-12">
	<div class="mapfre-logo-center">
		<img src="assets/images/mapfre_logo.png">
	</div>
</div> -->

<div id="header_sec" class="header-section">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4">
				<div class="logo" title="MAPFRE INSULAR">
					<a href="/insurance-ph/" accesskey="1" tabindex="0">
						<img src="/assets/images/mapfre_logo.png" alt="MAPFRE Insular" title="MAPFRE Insular">
					</a>
				</div>

				<div class="menu-toggle d-block d-sm-none" onclick="$('.hr-links').slideToggle();">
					<span class="fa-stack fa-2x">
					  <i class="fa fa-square fa-stack-2x"></i>
					  <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
					</span>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 d-sm-done">
				<div class="content-container02">
					<div class="hr-links d-none d-sm-block">
						<ul>
							<li><a href="/insurance-ph/customer-services/insurance-quotation/" tabindex="0">Get a Quote</a></li>
							<li><a href="http://www.mapfregrupo.com/corporativo/grupomapfre/en/general/index.shtml" tabindex="0" target="_blank">MAPFRE Global</a></li>
							<li><a href="http://www.insurance.gov.ph/" tabindex="0" target="_blank">Insurance Commission</a></li>
							<li><a href="https://mapfreinsular.wufoo.com/forms/referral-form/" tabindex="0" target="_blank">Partnership</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- <div class="col-lg-3 col-md-3 col-sm-6">
				<b class="phone">(632) 876-4400</b>
			</div> -->
			<div class="clearfix"></div>
			<div class="hr-second-layer d-none d-sm-block">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5">
						</div>
						<div class="col-lg-7 col-md-7 col-sm-7">
							<div class="hr-socialmedia">
								<ul>
									<li><a href="http://blog.mapfre.com.ph/" tabindex="0" class="icon-blog" title="Blog" target="_blank"><i class="fa fa-rss"></i></a></li>
									<li><a href="https://www.facebook.com/MAPFREInsularInsurance" tabindex="0" class="icon-facebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/MAPFRE_INSULAR" tabindex="0" class="icon-twitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
									<li><a href="http://instagram.com/mapfreinsular" tabindex="0" class="icon-instagram" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
									<li><a href="https://www.youtube.com/user/mapfreinsularph" tabindex="0" class="icon-youtube" title="YouTube" target="_blank"><i class="fa fa-youtube"></i></a></li>
									<li><a href="https://plus.google.com/u/0/b/117123332531976305550/117123332531976305550/about/p/pub" tabindex="0" class="icon-google" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="http://www.linkedin.com/company/mapfre-insular-insurance-corp." tabindex="0" class="icon-linkedin" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
