#footer_sec {
  font-family: Arial;
  background-color: #d81e05;
  color: #fff;
  padding-top: 40px;
}

#footer_sec h1 {
  font-weight: 600;
  color: #2e2e2e;
}

#footer_sec a {
  color: #d2d2d2;
}

#footer_sec ul.ft-socialmedia {
  list-style: none;
  text-align: center;
}

#footer_sec .ft-sm-wrapper {
  background-color: #2e2e2e;
  padding-top: 10px;
  margin-top: 30px;
}

#footer_sec .ft-links {
  margin-bottom: 20px;
}

#footer_sec .ft-links ul {
  list-style: none;
  padding: 0px;
}

#footer_sec .ft-links ul li {
  background: #ff6269;
  padding: 14px;
  text-align: center;
  border-radius: 23px;
  margin: 10px 25px;
  text-transform: uppercase;
}

#footer_sec .ft-links ul li:hover {
  background: #2e2e2e;
}

#footer_sec ul.ft-socialmedia li {
  display: inline;
  margin: 0 10px;
  font-size: 22px;
}

#footer_sec .ft-icons {
  font-size: 70px;
  margin-bottom: 25px;
  color: #2e2e2e;
}

#footer_sec .ft-copyright {
  background-color: #3e3e3e;
  text-align: center;
}

#footer_sec .ft-copyright p {
  margin-top: 8px;
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #bdbdbd;
  font-family: "Arial Black";
}
