<div id="footer_sec" class="footer-section">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-4 ft-links">
				<ul>
					<li>Get a Qoute</li>
					<li>Privacy Policy</li>
					<li>Web Map</li>
					<li>Contact Us</li>
					<li>About Us</li>
					<li>Customer Charter</li>
				</ul>
			</div>
			<!-- .col-md-4 -->
			<div class="col-md-8 text-center">
				<div class="row">
					<div class="col-md-12">
						<h1>NEED OTHER INSURANCE PRODUCT?</h1>
						<h4><i><a href="http://www.mapfre.com.ph">Visit www.mapfre.com.ph</a></i></h4>
						<p><i>For more information, please inquire directly at any MAPFRE INSULAR office.</i>
					</div>
					<div class="col-md-4">
						<i class="fa fa-home ft-icons"></i>
						<p><i>MAPFRE INSULAR Corporate Center
						<br/> Acacia Ave., Madrigal Business Park, Ayala Alabang, Muntinlupa City</i></p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-phone ft-icons"></i>
						<p><i>Client Service No.: (02) 876-4400</i></p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-envelope ft-icons"></i>
						<p><i>E-mail: teleservice@mapfreinsular.com</i></p>
					</div>
				</div>
			</div>
			<!-- .col-md-8 -->
			<div class="clearfix"></div>
			<div class="col-md-12 ft-sm-wrapper">
				<ul class="ft-socialmedia">
					<li><a href="http://blog.mapfre.com.ph/" tabindex="0" class="icon-blog" title="Blog" target="_blank"><i class="fa fa-rss"></i></a></li>
					<li><a href="https://www.facebook.com/MAPFREInsularInsurance" tabindex="0" class="icon-facebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/MAPFRE_INSULAR" tabindex="0" class="icon-twitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li><a href="http://instagram.com/mapfreinsular" tabindex="0" class="icon-instagram" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://www.youtube.com/user/mapfreinsularph" tabindex="0" class="icon-youtube" title="YouTube" target="_blank"><i class="fa fa-youtube"></i></a></li>
					<li><a href="https://plus.google.com/u/0/b/117123332531976305550/117123332531976305550/about/p/pub" tabindex="0" class="icon-google" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="http://www.linkedin.com/company/mapfre-insular-insurance-corp." tabindex="0" class="icon-linkedin" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
			<!-- .ft-sm-wrapper -->
			<div class="col-md-12 ft-copyright">
				<p>MAPFRE INSULAR Insurance Corporation © 2018</p>
			</div>
			<!-- .ft-copyright -->
		</div>
		<!-- .row -->
	</div>
	<!-- .d-none.d-md-block -->
</div>
<!-- #footer_sec -->
