<div class="clearfix"></div>
<div class="separator"></div>

<div class="row">
	<div class="col-lg-3 col-md-3 text-center">
		<div class="service-box mt-5 mx-auto">
			<i class="fa fa-4x fa-money text-primary mb-3 sr-icons"></i>
			<h3 class="mb-3">Pricing</h3>							
		</div>
	</div>
	<div class="col-lg-9 col-md-9">
		<div class="mt-5 mx-auto">
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th></th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Premium</td>
									<td style="text-align: right;">{{ pDTO.netPrem}}</td>
								</tr>
								<tr>
									<td>Doc Stamp</td>
									<td style="text-align: right;">{{ pDTO.docStamp}}</td>
								</tr>
								<tr>
									<td>Evat</td>
									<td style="text-align: right;">{{ pDTO.eVat}}</td>
								</tr>
								<tr>
									<td>LGT</td>
									<td style="text-align: right;">{{ pDTO.lgt}}</td>
								</tr>
								<tr>
									<td>Total</td>
									<td style="text-align: right;">{{ pDTO.grossPrem}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>