
<section class="validation-pg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="section-heading text-white">Please input validation
					number sent to your mobile number or email</h2>
				<hr class="light my-4">
				<div class="col-md-6 mx-auto">
					<div class="form-group">
						<input [(ngModel)]="validationCode" type="text"
							placeholder="Validation Code" name="last-name"
							class="form-control"> <label for="other">{{ valid
							}}</label>

					</div>
				</div>
				<div class="col-md-6 mx-auto">
					<div class="form-group">
						<input type="button" class="btn btn-primary" value="validate"
							(click)="validateCode()">
					</div>
				</div>
			</div>
			<div class="col-lg-8 mx-auto text-center">
				<a><i (click)="resendCode()" class="la la-trash">Resend</i></a>
			</div>
		</div>
	</div>
</section>