a{
	margin: 20px;
}

.fa{
	margin-right : 5px;
}	

.btn-light {
    color: #fff !important;
    background-color: #1da83f;
    border-color: #1da83f;
}

.btn-print-disabled {
    color: #fff !important;
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}
	