<section class="print-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h1>Your CTPL Certificate of Cover is now ready for printing!</h1>
				<hr class="my-4">
			</div>			
		</div>
		<div class="row">	
			<div class="col-lg-8 mx-auto text-center">
				<a [ngClass]="getClass()"  (click)="printPolicyPdf()" ><i class="fa fa-print"></i>Print</a>
			</div>
		</div>
	</div>
</section>
