<div class = "row">
	<div class="col-lg-3 col-md-3 text-center">
		<div class="service-box mx-auto">
			<img src="assets/images/icon_protect yourself.png">
			<h3 class="mb-3">Protect Yourself!</h3>			
		</div>
	</div>
	<div class="col-lg-9 col-md-9">
		<p class="text-muted mb-0">Buy now to instantly receive your
				Certificate of Cover via e-mail</p>
		<div class="mt-5 mx-auto">
			<div class="row frb-group">				
				<div class="col-sm-6">
					<div class="frb frb-info">
						<input type="radio" id="radio-button-3" name="radio-button"
							value="3" (click)="getCtplOption('R')" [checked] = checkRenew> <label for="radio-button-3"> <span
							class="frb-title">Renewal</span> <span class="frb-description">Renewal
								of previous CTPL Certificate of Cover</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="separator"></div>	
