<div class="clearfix"></div>
<div class="separator"></div>
<form #inceptionForm="ngForm">
<div class="row">
	<div class="col-lg-3 col-md-3 text-center">
		<div class="service-box mt-5 mx-auto">
			<img src="assets/images/icon_inception date.png">
			<h3 class="mb-3">Effectivity Date</h3>
		</div>
	</div>	
	<div class="col-lg-9 col-md-9">
		<p class="text-muted mb-0">Provide details of vehicle to be
				insured: Inception date refers to the date that your CTPL
				insurance takes effect. It depends on the last digit of your
				plate number. It can either be back-dated (less than a year
				cover) or forward-dated (one year cover). See table on the left
				for your reference.</p>
		<div class="mt-5 mx-auto">
			<div class="row">
				<div class="col-md-6">
					<label><b class="asterisk">Effectivity Date</b></label>
					<!-- <ngbd-datepicker-popup></ngbd-datepicker-popup>	 -->
					<div class="row">
						<div class="col-md-6">							
							<select [(ngModel)]="monthValue" class="form-control" disabled="" name="month" id="month">
								<option value="01">JANUARY</option>
								<option value="02">FEBRUARY</option>
								<option value="03">MARCH</option>
								<option value="04">APRIL</option>
								<option value="05">MAY</option>
								<option value="06">JUNE</option>
								<option value="07">JULY</option>
								<option value="08">AUGUST</option>
								<option value="09">SEPTEMBER</option>
								<option value="10">OCTOBER</option>
								<option value="11">NOVEMBER</option>
								<option value="12">DECEMBER</option>
							</select>
						</div>
						<div class="col-md-3" style="padding-left: 0;">
							<select [(ngModel)]="dayValue" name="day" id="day" class="form-control" #day="ngModel" required disabled>
								<option [ngValue]="undefined" selected >1</option>
							</select>
						</div>
						<div class="col-md-3" style="padding-left: 0;">
							<select name="year" 
								 id="year" (change) = "changeYear($event)"
								class="form-control">
								<option *ngFor="let year of yearLOV"
									[ngValue]="year" [selected] = "year === yearNow">{{year}}</option>
							</select>
						</div>
					</div>
					<br>
					<div class="col-sm-12" >
						<div class="frb frb-success" *ngIf="showWarrantedNoLoss">
							<input type="radio" id="ext-damage" name="ext-damage" [checked]="isCheck"
								value="2" (click)="getExtDamage()"> <label for="ext-damage"> <span
								class="frb-title">Warranted No Loss</span> 
								<span class="frb-description">I guarantee that from the effectivity of<br/> the policy, there has been NO accident<br/> that involves the vehicle</span> 
							</label>
						</div>
						<div *ngIf="showRequiredWarrantedNoLoss"
							 class="alert alert-danger">	Please check
						</div>
					</div>
				</div> 
			</div>
		</div>
		<div class="btn-grp mt-2">
			<!-- 						<div class="pull-right"> -->
			<!-- 							<input type="button" class="btn btn-primary" value="Print" -->
			<!-- 								(click)="downloadPDF()"> -->
			<!-- 						</div> -->
			<div class="pull-right">
				<input type="button" class="btn btn-primary" value="Next"
					(click)="getInceptionDate()" >
			</div>
		</div>
	</div>
</div>
</form>
