<div class="clearfix"></div>
<div class="separator"></div>

<form #vehicleForm="ngForm">
<div class="row">
	<div class="col-lg-3 col-md-3 text-center">
		<div class="service-box mt-5 mx-auto">
			<img src="assets/images/icon_vehicle information.png">
			<h3 class="mb-3">Vehicle Information</h3>
		</div>
	</div>
	<div class="col-lg-9 col-md-9">
		<p class="text-muted mb-0">Refer to your Certificate of
				Registration, under the field "Denomination", to know your
				vehicle's type.</p>
		<div class="mt-5 mx-auto">
			<div class="row">
				<div class="clearfix"></div>
				<div class="col-md-8">
					<div id= "vinf" class="form-group">
						<label><b class="asterisk">MV File Number</b></label>
						<div class="row" style="margin-left: 0px">
							<div class="col-md-3 col-sm-3 col-3" style="padding-left: 0px">
								<input [(ngModel)]="this.vehicle.mvNumber1st" [(uppercase)]="this.vehicle.mvNumber1st" type="text"
									name="mvNumber1stNo"
									class="form-control" #mvNumber1stNo="ngModel" maxlength="4" required>
							</div>
							<div class="col-md-1 col-sm-1 col-1">
								<span>-</span>	
							</div>	
							<div class="col-md-7 col-sm-8 col-8">
								<input [(ngModel)]="this.vehicle.mvNumber2nd" [(uppercase)]="this.vehicle.mvNumber2nd" type="text"
									name="mvNumber2ndNo"
									class="form-control" #mvNumber2ndNo="ngModel" maxlength="11" required>
							</div>	
						</div>	
						<div [hidden]="(mvNumber1stNo.valid  || mvNumber1stNo.pristine) && (mvNumber2ndNo.valid  || mvNumber2ndNo.pristine)"
								class="alert alert-danger">	 MV Number is required
						</div>			
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b class="asterisk">Plate Number</b></label>
						<input [(ngModel)]="this.vehicle.plateNumber" [(uppercase)]="this.vehicle.plateNumber" type="text"
							name="plateNumber"
							class="form-control" #plateNumber="ngModel" maxlength="8" required>
						<div [hidden]="plateNumber.valid || plateNumber.pristine"
								class="alert alert-danger">	 Plate Number is required
						</div>		
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label><b class="asterisk">Engine Number</b></label>
						<input [(ngModel)]="this.vehicle.engineNumber" [(uppercase)]="this.vehicle.engineNumber" type="text"
							name="engineNumber"
							class="form-control" #engineNumber="ngModel" maxlength="20" required>
						<div [hidden]="engineNumber.valid || engineNumber.pristine"
								class="alert alert-danger">	 Engine Number is required
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label><b class="asterisk">Chassis Number</b></label>
						<input type="text" [(ngModel)]="this.vehicle.chassisNumber" [(uppercase)]="this.vehicle.chassisNumber"
							name="chassisNumber"
							class="form-control" #chassisNumber="ngModel" maxlength="20" required>
						<div [hidden]="chassisNumber.valid || chassisNumber.pristine"
								class="alert alert-danger">	 Chassis Number is required
						</div>	
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label><b class="asterisk">Make</b></label>
						<select [(ngModel)]="this.vehicle.make" name="make" id="make"
							class="form-control" (change)="makeOnchange()" #make="ngModel" required>
							<option [ngValue]="undefined" selected>Select Make</option>
							<option *ngFor="let make of makeLOV"
								[ngValue]="make.COD_MARCA">{{ make.NOM_MARCA }}</option>
						</select>
						<div [hidden]="make.valid || make.pristine"
								class="alert alert-danger">	 Make is required
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label><b class="asterisk">Model</b></label>
						<select [(ngModel)]="this.vehicle.model" name="model"
							id="model" class="form-control" (change)="modelOnchange()" #model="ngModel" required>
							<option [ngValue]="undefined" selected>Select Series</option>
							<option *ngFor="let model of modelLOV"
								[ngValue]="model.COD_MODELO">{{ model.NOM_MODELO }}</option>
						</select>
						<div [hidden]="model.valid || model.pristine"
								class="alert alert-danger">	 Model is required
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label><b class="asterisk">Vehicle Type</b></label>
						<select [(ngModel)]="this.vehicle.variant" name="variant"
							class="form-control" (change)="variantOnchange()" #variant="ngModel" required>
							<option [ngValue]="undefined" selected>Select Type</option>
							<option *ngFor="let variant of variantLOV"
								[ngValue]="variant.COD_TIP_VEHI">{{
								variant.NOM_TIP_VEHI }}</option>
						</select>
						<div [hidden]="variant.valid || variant.pristine"
								class="alert alert-danger">	 Variant is required
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label><b class="asterisk">Year Model</b></label>
						<select [(ngModel)]="this.vehicle.year" name="year"
							class="form-control" (change)="yearOnChange()" #year="ngModel" required>
							<option [ngValue]="undefined" selected>Select Year</option>
							<option *ngFor="let year of yearLOV"
								[ngValue]="year.ANIO_SUB_MODELO">{{
								year.ANIO_SUB_MODELO }}</option>
						</select>
						<div [hidden]="year.valid || year.pristine"
								class="alert alert-danger">	 Year is required
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label><b class="asterisk">Sub Model</b></label>
						<select [(ngModel)]="this.vehicle.subModel" name="subModel"
							class="form-control" (change)="subModelOnChange()" #subModel="ngModel" required>
							<option [ngValue]="undefined" selected>Select Sub
								Model</option>
							<option *ngFor="let subModel of subModelLOV"
								[ngValue]="subModel.COD_SUB_MODELO">{{subModel.NOM_SUB_MODELO + '('+ subModel.TIP_CAJA_CAMBIO+ ') '+ (subModel.NOM_TRACCION == 'UNKNOWN' ? "": subModel.NOM_TRACCION)}}</option>
						</select>
						<div [hidden]="subModel.valid || subModel.pristine"
								class="alert alert-danger">	 Sub Model is required
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<label><b class="asterisk">Type of Use</b></label>
						<select [(ngModel)]="this.vehicle.typeOfUse" name="typeOfUse"
							class="form-control" #typeOfUse="ngModel" required>
							<option [ngValue]="undefined" selected>Type of Use</option>
							<option *ngFor="let tou of typeOfUseLOV"
								[ngValue]="tou.COD_USO_VEHI">{{ tou.NOM_USO_VEHI }}</option>
						</select>
						<div [hidden]="typeOfUse.valid || typeOfUse.pristine"
								class="alert alert-danger">	 Type of Use is required
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<label><b class="asterisk">Color</b></label>
						<select [(ngModel)]="this.vehicle.color" name="color"
							class="form-control" #color="ngModel" required>
							<option [ngValue]="undefined" selected>Select Color</option>
							<option *ngFor="let color of colorLOV"
								[ngValue]="color.COD_COLOR">{{ color.NOM_COLOR }}</option>
						</select>
						<div [hidden]="color.valid || color.pristine"
								class="alert alert-danger">	 Color is required
						</div>
					</div>
				</div>
				<div class="col-sm-12" >
					<div class="frb frb-success">
						<input type="radio" id="permission_tick" name="permission_tick"
							value="2" [checked]="proceedTicker" (click)="tickPermission()"> 
							<label for="permission_tick"> 
							<span class="frb-description">
							By submitting details herein I allow MAPFRE INSULAR the use, processing and storage of the data as identified above as long as necessary to exercise any legitimate business purpose and sharing the same to MAPFRE Group of Companies, its contractors and/or sub-contractors for insurance purposes,subject to Data Privacy Laws.
							If transacting and/or acting in behalf of other person/s, I hereby warrant that I am duly authorized to transact in the latter’s behalf and to give the information provided on this form.
							</span> 
						</label>
					</div>
				</div>	
			</div>
		</div>
	
		<div class="btn-grp">
			<div class="pull-right">
				<input type="button" class="btn btn-primary" value="Next"
					(click)="getVehicleInfo(this.vehicle)" [disabled]="!getValid()" [ngx-scroll-to]="'#inceptionDate'">
			</div>
		</div>
	</div>	
</div>
</form>
