<div class="banner-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6"></div>
			<div class="col-md-6">
				<div class="row">
					<!-- <div class="header__bg"></div> -->
					<div class="header__bg bt-section col-md-12">
						<h1 class="banner-text">
							CTPL<span>online</span>
						</h1>
						<p class="sub-text">The right protection you need.</p>
						<div class="btn-section col-md-12 text-center">
							<button class="btn btn-default" (click)="showReminder()" >GET
								YOURS NOW</button>
						</div>
						<div class="pr-section col-md-12">
							<p class="pricing-text">
								For as low as <span>*PHP560</span> for private cars.
							</p>
						</div>
					</div>
				</div>
				<!-- 				<div class="row">					
					<div class="btn-section col-md-12 text-center">
						<button class="btn btn-default" [ngx-scroll-to]="'#form'">GET
							YOURS NOW</button>
					</div>					
				</div> -->
			</div>
		</div>
		<!-- 		<div class="row">
			<div class="pr-section col-md-12">
				<p class="pricing-text">
					For as low as <span>*PHP560</span> for private cars and <span>*PHP250</span>
					for motorcycles.
				</p>
			</div>
		</div> -->
	</div>
</div>
<div class="banner-bottom">
	<div class="container-fluid">
		<div class="row">
			<div class="bottom-text col-md-6">
				<p>Avail insurance in the way that suits you best.</p>
			</div>
			<div class="bottom-icon col-md-3">
				<div class="row">
					<div class="col-md-3">
						<a><img src="assets/images/online_click.png" [ngx-scroll-to]="'#form'"></a>
					</div>
					<div class="col-md-9">
						<p>
							ONLINE							
						</p>
						<i>Purchase CTPL online</i>
					</div>
				</div>
			</div>
			<div class="bottom-icon col-md-3">
				<div class="row">
					<div class="col-md-3">
						<a><img src="assets/images/contact_click.png" [ngx-scroll-to]="'#footer_sec'"></a>
					</div>
					<div class="col-md-9">
						<p>
							CONTACT US							
						</p>
						<i>Talk to a MAPFRE representative</i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>