.banner-section {
	background: url("../../assets/images/banner-image.png") no-repeat center
		center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 800px;		
}

.header__bg {
  /* position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 140px; */
  width: 100%;
  height: 800px;
  background-color: rgba(255,255,255,0.7);
  /* opacity: 0.8; */
  /* transform: skewX(-10deg); */
  transform-origin: top left;
  -webkit-clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}

.non-op{
	opacity: 1;
}

.btn-section {
	margin-top: 15%;
	padding-left: 15%;
} 

.pr-section {
	margin-top: 15%;
	color: #555555;
	font-weight: bold;
}

.banner-text {
	font-size: 80pt;
	font-family: "DIN-Bold"; 
	color: #ed1c24;	
	margin-top: 10%;
	padding-left: 15%;
}

.banner-text span {
	font-family: "DIN-Regular"; 
	color: #555555;
	font-weight: normal;
}

.btn-section button {
	border-radius: 0px;
	background-color: #ed1c24;
	color: #fff;
	width: 350px;
	height: 50px;
	font-size: 15pt;
}

.sub-text {
	font-family: "DIN-Regular"; 
	color: #666666;
	font-size: 31pt;
	padding-left: 15%;
}

.button-get {
	cursor: pointer;
	background-color: #ed1c24;
	color: #fff;
	margin-top: 70px;
	border-radius: 10px;
	width: inherit;
}

.ast-disc {
	color: #ed1c24;
}

.banner-disc {
	margin-top: 100px;
}

.pricing-text {
	font-family: "Arial";
	font-weight: lighter;
	font-size: 22pt;
	padding-left: 15%;
}

.pricing-text span {
	color: #ed1c24;
}

.banner-bottom {
	background-color: #2e2e2e;
	height: 100px;
	text-align: left;
	padding-left: 3%;
	color: #fff;
	font-family: Arial;	
}

.bottom-text {	
	font-size: 15pt;
	color: #bcbcbc;
	margin-top: 2%;
}

.bottom-icon{
	margin-top: 1%;
}

.bottom-icon p{
	margin-left: -10%;
	margin-top: 3%;
	font-size: 15pt;
	margin-bottom: 0;
}

.bottom-icon i{
	margin-left: -10%;
	color: #6e6f71;
	font-size: 13pt;
}

a img{
	cursor: pointer;
}