<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#ee3c42"
  type="line-scale">
</ngx-spinner>
<!-- Navigation -->
<app-header></app-header>
<div class="col-md-6 mx-auto text-center mt-5">
	<h3>Policy Number : <span class="text-danger">{{numPoliza}}</span></h3>
	<h3>Transaction Number : <span class="text-danger">{{vpcTransactionNumber}}</span></h3>
</div>
<header class="text-center d-flex">
</header>
<app-print-page id="print-comp" [numPoliza]="numPoliza" *ngIf="!disablePrint"></app-print-page>
<app-footer></app-footer>
