<div>
	<div class="col-md-4">
		<div class="form-group">
			<label>First Name :</label>
			<label>{{client.fName}}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Middle Name :</label>
			<label>{{client.mName}}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Last Name :</label>
			<label>{{client.lName}}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Suffix :</label>
			<label>{{client.suffixTxt}}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Birthdate :</label>
			<label>{{client.birthdate}}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Province :</label>
			<label>{{client.provinceTxt}}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Municipality :</label>
			<label>{{client.municipalityTxt}}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Zip Code :</label>
			<label>{{client.zipCode}}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Address :</label>
			<label>{{client.address1 + client.address2 + client.address3 }}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Document :</label>
			<label>{{client.tipDocTxt }}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Code Document :</label>
			<label>{{client.codDoc }}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Mobile Number :</label>
			<label>{{client.mobileNumber}}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Email :</label>
			<label>{{client.email }}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Make :</label>
			<label>{{vehicle.makeTxt }}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Model :</label>
			<label>{{vehicle.modelTxt }}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Vehicle Type :</label>
			<label>{{vehicle.variantTxt }}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Year Model :</label>
			<label>{{vehicle.year }}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Sub Model :</label>
			<label>{{vehicle.subModelTxt }}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Type of Use :</label>
			<label>{{vehicle.typeOfUseTxt }}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Color :</label>
			<label>{{vehicle.colorTxt }}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Inception Date :</label>
			<label>{{issuanceDto.inceptionDate }}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label>Expiry Date :</label>
			<label>{{issuanceDto.expiryDate }}</label>
		</div>
	</div>
</div>