<div class="clearfix"></div>
<div class="separator"></div>
<form #contactForm="ngForm">
<div class="row">
	<div class="col-lg-3 col-md-3 text-center">
		<div class="service-box mt-5 mx-auto">
			<img src="assets/images/icon_contact info.png">
			<h3 class="mb-3">Contact Information</h3>
		</div>
	</div>
	<div class="col-lg-9 col-md-9">
		<p class="text-muted mb-0">Number to be contacted in case of
				MAPFRE application concerns</p>
		<div class="mt-5 mx-auto">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label><b class="asterisk">Mobile Number</b></label>
						<input [(ngModel)]="client.mobileNumber" type="text"
							name="mobile" NumberOnly [NumberOnly]="true" (keyup)="removeDotAndGreaterThan()"
							class="form-control" #mobile="ngModel" required maxlength="11">
						<div [hidden]="mobile.valid || mobile.pristine"
								class="alert alert-danger">	 Mobile Number is required
						</div>		
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label><b class="asterisk">E-mail Address</b></label>
						<input [(ngModel)]="client.email" type="text"
							name="email" [(uppercase)]="client.email" class="form-control" #email="ngModel" (change)="validateEmail(client.email)" required maxlength="60">
						<div [hidden]="email.valid || email.pristine"
								class="alert alert-danger">	 Email is required
						</div>
						<div [hidden]="isEmailvalid"
								class="alert alert-danger">	 Email format must be example@abc.com
						</div>			
					</div>
				</div>
			</div>
		</div>
		<div class="btn-grp">
			<!-- 						<div class="pull-right"> -->
			<!-- 							<input type="button" class="btn btn-primary" value="Print" -->
			<!-- 								(click)="downloadPDF()"> -->
			<!-- 						</div> -->
			<div class="pull-right">
				<input type="button" class="btn btn-primary" value="Next"
					(click)="getClientContactInfo(client)" [ngx-scroll-to]="'#vehicleInfo'">
			</div>
		</div>
	</div>	
</div>
</form>