<form #personalForm="ngForm">
<div class="row">
	<div class="col-lg-3 col-md-3 text-center">
		<div class="service-box mx-auto">
			<img src="assets/images/icon_personal information.png">
			<h3 class="mb-3">Personal Information</h3>
		</div>
	</div>
	<div class="col-lg-9 col-md-9">
		<p class="text-muted mb-0">Make sure to type the exact name
				that appears in your CR</p>
		<div class="mt-5 mx-auto">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label>
						  	<b class="asterisk">
						  	First Name
						  	</b></label>
						<input [(ngModel)]="client.fName" [(uppercase)]="client.fName" LetterOnly type="text"
							 name="fName" class="form-control" #fname="ngModel" maxlength="50" required>
						<div [hidden]="fname.valid || fname.pristine"
								class="alert alert-danger">	 First Name is required
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label>
							<b>Middle Name</b>
						</label>
						<input LetterOnly [(ngModel)]="client.mName" [(uppercase)]="client.mName" type="text"
							name="mName"
							maxlength="50" class="form-control">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label>
							<b class="asterisk">Last Name</b>
						</label>
						<input LetterOnly [(ngModel)]="client.lName" [(uppercase)]="client.lName" type="text"
							name="lName" class="form-control" #lname="ngModel" maxlength="30" required>
						<div [hidden]="lname.valid || lname.pristine"
								class="alert alert-danger">	 Last Name is required
						</div>	
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label><b>Suffix</b></label>
						<select [(ngModel)]="client.suffix" name="suffix"
							class="form-control" #suffix="ngModel"  (change)="getSuffix($event)">
							<option [ngValue]="undefined" selected>Select suffix</option>
							<option *ngFor="let suffix of suffixLOV"
								[ngValue]="suffix.TIPO_SUFIJO_NOMBRE">{{ suffix.NOM_VALOR
								}}</option>
						</select>	
					</div>
				</div>
				<div class="col-md-12">
				</div>		
				<div class="col-md-6">
					<label>
						<b class="asterisk">Birthdate</b>
					</label>
					<ngbd-datepicker-popup (dateOutput)="onGetBirthdate($event)" [dateType]="'Birthdate'" [dateValue] = "client.birthdate || ''" ></ngbd-datepicker-popup>
				</div>
				<div class="col-md-6"></div>
				
				<div class="col-md-4">
					<div class="form-group">
						<!--<textarea class="form-control" name="txtadd" placeholder="Address"></textarea>-->
						<label>
						<b class="asterisk">Province</b>
					    </label>
						<select [(ngModel)]="client.province" name="province"
							id="province" class="form-control" (change)="provOnChange($event)" #province="ngModel" required >
							<option [ngValue]="undefined" selected>Select
								Province</option>
							<option *ngFor="let province of provinceLOV"
								[ngValue]="province.COD_PROV">{{ province.NOM_PROV
								}}</option>
						</select>
						<div [hidden]="province.valid || province.pristine"
								class="alert alert-danger">	 province is required
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<!--<textarea class="form-control" name="txtadd" placeholder="Address"></textarea>-->
						<label>
							<b class="asterisk">Municipality/City</b>
					 	</label>
						<select [(ngModel)]="client.municipality" name="city"
							(change)="municipalityChange($event)" id="city"
							class="form-control" #city="ngModel" required >
							<option [ngValue]="undefined" selected>Select City</option>
							<option *ngFor="let city of municipalityLOV"
								[ngValue]="city.COD_LOCALIDAD">{{ city.NOM_LOCALIDAD
								}}</option>
						</select>
						<div [hidden]="city.valid || city.pristine"
								class="alert alert-danger">	 City is required
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<!--<textarea class="form-control" name="txtadd" placeholder="Address"></textarea>-->
						<label>
						<b class="asterisk">Zip Code</b>
						</label>
						<select [(ngModel)]="client.zipCode" name="zipCode"
							id="zipCode" class="form-control" #zip="ngModel" required >
							<option [ngValue]="undefined" selected>Select ZipCode</option>
							<option *ngFor="let zip of zipLOV" [ngValue]="zip.COD_POSTAL">{{
								zip.COD_POSTAL }}</option>
						</select>
						<div [hidden]="zip.valid || zip.pristine"
								class="alert alert-danger">	 Zip Code is required
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<!--<textarea class="form-control" name="txtadd" placeholder="Address"></textarea>-->
						<label>
						<b class="asterisk">Address</b>
						</label>
						<input [(ngModel)]="client.address1" [(uppercase)]="client.address1" type="text"
							name="address1" class="form-control" #addr1="ngModel" required maxlength="40">
						<div [hidden]="addr1.valid || addr2.pristine"
								class="alert alert-danger">	 Address 1 is required
						</div>	
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<!--<textarea class="form-control" name="txtadd" placeholder="Address"></textarea>-->
						<label>
							<b>Address (Cont.)</b>
						</label>
						<input [(ngModel)]="client.address2" [(uppercase)]="client.address2" type="text"
							name="address2" class="form-control" #addr2="ngModel"  maxlength="40" >
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<!--<textarea class="form-control" name="txtadd" placeholder="Address"></textarea>-->
						<label>
							<b>Address (Cont.)</b>
						</label>
						<input [(ngModel)]="client.address3" [(uppercase)]="client.address3" type="text"
							name="address3" class="form-control" #addr3="ngModel" maxlength="40" >	
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label><b class="asterisk">Document Type</b></label>
						<select [(ngModel)]="client.tipDoc" id="tipDocum"
							name="tipDoc" class="form-control" #tipDoc="ngModel" (change)="getTipDocum($event)" required>
							<option [ngValue]="undefined" selected>Select Doc. Type</option>
							<option *ngFor="let doc of codDocumLOV"
								[ngValue]="doc.TIP_DOCUM">{{ doc.NOM_DOCUM }}</option>
						</select>
						<div [hidden]="tipDoc.valid || tipDoc.pristine"
								class="alert alert-danger">	Document Type is required
						</div>	
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label><b class="asterisk">Document Number</b></label>
						<input [(ngModel)]="client.codDoc" [(uppercase)]="client.codDoc" type="text"
							name="codDoc"
							class="form-control" #codDoc="ngModel" required maxlength="20">
						<div [hidden]="codDoc.valid || codDoc.pristine"
								class="alert alert-danger">	 Document Code is required
						</div>		
					</div>
				</div>
			</div>
		</div>
		<div class="btn-grp">
			<!-- 						<div class="pull-right"> -->
			<!-- 							<input type="button" class="btn btn-primary" value="Print" -->
			<!-- 								(click)="downloadPDF()"> -->
			<!-- 						</div> -->
			<div class="pull-right">
				<input type="button" class="btn btn-primary" value="Next"
					(click)="getClientInformation(client)" [ngx-scroll-to]="'#contactInfo'">
			</div>
		</div>
	</div>
</div>
</form>
