<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closePop()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p [innerHTML]="message"></p>
</div>
<div class="modal-footer">
	<button *ngIf="retryButton" type="button" class="btn btn-outline-dark" (click)="refresh()">Retry</button>
  <button type="button" class="btn btn-outline-dark" (click)="closePop()">Close</button>
</div>
