<div class="form-group">
  <div class="input-group">
    <input class="form-control" placeholder="mm/dd/yyyy"
           ngbDatepicker #d="ngbDatepicker" (click)="onClick(d)" 
           name="date" readonly style="background-color: white" 
							[value]="dateValue"  (dateSelect)="onDateSelect($event)" autocomplete="off">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="onClick(d)" type="button">
        <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
      </button>
    </div>
  </div>
</div>