/* You can add global styles to this file, and also import other style files */
/* @import './styles/bootstrap-4.1.1-dist/css/bootstrap.min.css'; */
@import './styles/vendor/bootstrap/css/bootstrap.min.css';

@import './styles/vendor/font-awesome/css/font-awesome.min.css';

@import './styles/css/creative.css';

@import './styles/css/main.css';

@import
	'https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	;

@import
	'https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'	
	;
/* @import './styles/vendor/jquery/jquery.min.js'; */
/* @import './styles/vendor/bootstrap/js/bootstrap.bundle.min.js'; */
/* @import './styles/vendor/jquery-easing/jquery.easing.min.js'; */
/* @import './styles/vendor/scrollreveal/scrollreveal.min.js'; */
/* @import './styles/vendor/magnific-popup/jquery.magnific-popup.min.js'; */
/* @import './styles/js/creative.min.js'; */
/* @import './styles/js/main.js'; */


@font-face { font-family: "DIN-Bold"; src: url("./assets/fonts/DINBd__.ttf") };
@font-face { font-family: "DIN-Regular"; src: url("./assets/fonts/DINRg__.ttf") };  

input{
	text-transform: uppercase;
}

.text-muted{	
	font-family: Arial;
	color: rgba(46, 46, 46, 255) !important;
}

.btn-primary{
    border-radius: 0px;
    background-color: #ed1c24;
    color: #fff;
    width: 250px;
    height: 50px;
    font-size: 13pt;
}    

.btn-primary{
    border-radius: 0px;
    background-color: #ed1c24;
    color: #fff;
    width: 250px;
    height: 50px;
    font-size: 13pt;
}

label{	
	font-family: Arial;   
}

.asterisk:after {
    content: " \f069";
    font-family: FontAwesome;
    font-size: 13px;
    position: relative;
    padding-left: 5px;
    color: #EE6E73;
}

.form-control{
	border-radius: 0;
	border-left: 1px solid #ced4da !important;
}

.btn-primary.disabled, .btn-primary:disabled, .btn-primary.disabled:hover {
    color: #fff;
    background-color: #2D2D2D; 
    border-color: #2D2D2D;
}

.btn.disabled, .btn:disabled {
    opacity: 1;
}

/*.btn-primary:hover {
    color: #fff;
    background-color: #ed1c24;
    border-color: #F05F40;
}*/

/*.btn-primary.disabled:hover {
    color: #fff !important;
    background-color: #2D2D2D !important;
    border-color: #2D2D2D !important;        
}*/

/*fdasdfasdfsdafasdffa*/