
<section class="payment-pg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="section-heading">Pay now using your credit card</h2>
				<hr class="light my-4">
				<div class="col-md-6 mx-auto">
					<img class="credit-logo" src="assets/images/visa_mastercard.png">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<input type="button" class="btn btn-primary"
					value="Proceed
					to Payment" (click)="validatePayment()">
				<!-- 					<a -->
				<!-- 					class="btn btn-light btn-xl js-scroll-trigger" href="#form">Proceed -->
				<!-- 					to Payment</a> -->
			</div>
			<div class="col-lg-8 mx-auto text-center">
				<br/>
				<input type="button" class="btn btn-primary"
					value="SKIP PAYMENT (OTC)" (click)="skip()" >
				<!-- 				<input type="button" class="btn btn-primary" value="Skip" -->
				<!-- 					(click)="validatePayment()"> -->
				<!-- 					<a -->
				<!-- 					class="btn btn-light btn-xl js-scroll-trigger" href="#form">Proceed -->
				<!-- 					to Payment</a> -->
			</div>
		</div>
	</div>
</section>